<div class="flex flex-row items-center border-2 border-solid border-goldish rounded-lg p-6">
    <img src="assets/wealthapp-logo.png" class="w-32 flex flex-col mr-8 rounded-lg">
    <div class="flex flex-col items-end">
        <span class="text-md">
            {{ ticker }}
        </span>
        <span class="text-lg font-bold">
            {{ price }}$
        </span>
        <button *ngIf="!myPortfolio && parent == 'stocks'" class="p-1 px-4 mt-4 rounded-lg bg-goldish" (click)="addToPortfolio()" >
            Add Stock
        </button>
        <button *ngIf="myPortfolio && parent == 'stocks'" class="p-1 px-4 mt-4 rounded-lg bg-goldish" (click)="removeFromPortfolio()">
            Delete Stock
        </button>
        <div *ngIf="parent == 'portfolio'">
            <button class="p-1 px-4 mt-4 rounded-lg bg-goldish" (click)="updateQuantity(-1)">-</button>
            <span class="text-md px-2">
                {{ quantity }}
            </span>
            <button class="p-1 px-4 mt-4 rounded-lg bg-goldish" (click)="updateQuantity(1)">+</button>
        </div>

    </div>
</div>
